{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <!-- blog -->
  <div class="row section bg-light">
    <div class="col-md-4 col-sm-12">
      <h1>Blog</h1>
    </div>
    <div class="col-md-8 col-sm-12">

      {% for item in feed %}
        <div class="box bg-dark text-light">
          <h2>
            {{ item.title }} 
            <a target="_blank" href="/blog/{{ item.id }}/">
              <img src="{% static 'icons/external-link.svg' %}" />
            </a>
          </h2>
          <div class="small">{{ item.date }}</div>
          <p>{{ item.subtitle }}</p>
        </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}
